In [234]:
my_age = 21
print(my_age)

21

In [235]:
my_age = 20
print(my_age)

20

In [236]:
print(my_age/3)

6.666666666666667

In [237]:
my_age = my_age + 1
print(my_age)

21

In [238]:
restaurant_bill = 36.17
service_charge = 0.125
amount_of_tip = restaurant_bill * service_charge
print(amount_of_tip)

4.52125

In [239]:
type(21)

int

In [240]:
type(21.6)

float

In [241]:
type('Shade')

str

In [242]:
type(my_age)

int

In [243]:
type(restaurant_bill)

float

In [244]:
my_name = 'Shade'
type(my_name)

str

In [245]:
prime_numbers = [3, 7, 61, 29, 199]
type(prime_numbers)

list

In [246]:
cool_people = ['Shade', 'Sasha Sloan', 'The Flash']
prime_people = ['Black Panther', 17, 11, 'Elsa']
type(prime_people)

list

In [247]:
prime_numbers[2]

61

In [248]:
best_prime_ever = prime_numbers[4]
print(best_prime_ever)

199

List: Elements in a list not need to be of the same type.
Array: All elements in an array must be of the same type.

In [249]:
import pandas as pd
data = pd.read_csv('lsd_math_score_data.csv')

In [250]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [251]:
type(data)

pandas.core.frame.DataFrame

In [252]:
test_score = data['Avg_Math_Test_Score']
print(test_score)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [253]:
data['Test_Subject'] = 'Calculus'
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Test_Subject
0                      5     1.17                78.93     Calculus
1                     15     2.97                58.20     Calculus
2                     30     3.26                67.47     Calculus
3                     60     4.69                37.47     Calculus
4                    120     5.83                45.65     Calculus
5                    240     6.00                32.92     Calculus
6                    480     6.41                29.97     Calculus

In [254]:
data['High_Score'] = 100
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Test_Subject  \
0                      5     1.17                78.93     Calculus
1                     15     2.97                58.20     Calculus
2                     30     3.26                67.47     Calculus
3                     60     4.69                37.47     Calculus
4                    120     5.83                45.65     Calculus
5                    240     6.00                32.92     Calculus
6                    480     6.41                29.97     Calculus

   High_Score
0         100
1         100
2         100
3         100
4         100
5         100
6         100

In [255]:
data['High_Score'] += data['Avg_Math_Test_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Test_Subject  \
0                      5     1.17                78.93     Calculus
1                     15     2.97                58.20     Calculus
2                     30     3.26                67.47     Calculus
3                     60     4.69                37.47     Calculus
4                    120     5.83                45.65     Calculus
5                    240     6.00                32.92     Calculus
6                    480     6.41                29.97     Calculus

   High_Score
0      178.93
1      158.20
2      167.47
3      137.47
4      145.65
5      132.92
6      129.97

In [256]:
data['High_Score'] = data['High_Score'] ** 2
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Test_Subject  \
0                      5     1.17                78.93     Calculus
1                     15     2.97                58.20     Calculus
2                     30     3.26                67.47     Calculus
3                     60     4.69                37.47     Calculus
4                    120     5.83                45.65     Calculus
5                    240     6.00                32.92     Calculus
6                    480     6.41                29.97     Calculus

   High_Score
0  32015.9449
1  25027.2400
2  28046.2009
3  18898.0009
4  21213.9225
5  17667.7264
6  16892.2009

In [257]:
type(test_score)

pandas.core.series.Series

Series: Can only have one column (1-D)
DataFrame: A collection of series.

In [258]:
column_list = ['LSD_ppm', 'Avg_Math_Test_Score']
clean_data = data[column_list]
print(clean_data)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [259]:
type(clean_data)

pandas.core.frame.DataFrame

In [260]:
y = data[['Avg_Math_Test_Score']]

In [261]:
type(y)

pandas.core.frame.DataFrame

In [262]:
X = data[['LSD_ppm']]
print(X)
type(X)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

pandas.core.frame.DataFrame

In [263]:
del data['Test_Subject']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [264]:
del data['High_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [265]:
import number as galaxy

In [266]:
type(galaxy)

module

In [267]:
galaxy.the_number

2020

In [268]:
import math
print(math.pi)
print(math.e)

3.141592653589793
2.718281828459045

In [269]:
from number import the_number
print(the_number)

2020

In [270]:
the_number += 1
print(the_number)

2021

In [271]:
print(galaxy.the_number)

2020

In [272]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [274]:
def get_milk():
    print('Open door.')
    print('Walk to the store.')
    print('Buy milk on the ground floor.')
    print('Return with the milk galore.')

In [275]:
get_milk()

Open door.
Walk to the store.
Buy milk on the ground floor.
Return with the milk galore.

In [276]:
def fill_the_fridge(amount):
    print('Open door.')
    print('Walk to the store.')
    print('Buy '+ amount + ' cartons on the ground floor.')
    print('Return with the milk galore.')

In [278]:
fill_the_fridge('five')

Open door.
Walk to the store.
Buy five cartons on the ground floor.
Return with the milk galore.

In [279]:
fill_the_fridge('one thousand')

Open door.
Walk to the store.
Buy one hundred cartons on the ground floor.
Return with the milk galore.